:root {
  --color-primary: #917758;
  --color-secondary: #3c2915;
  --color-primary-light: #f5eee6;
}
 

/****************** 
*  BARRA DE ROLAGEM
*******************/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #917758a6;
}

::-webkit-scrollbar-thumb {
  background-color: #695338a6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #975607a6;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}



/*********** 
*    HOME
***********/
.home {
  position: relative; /*  quando eu defino o position absolute para o filho dessa classe/elemento ele centraliza automaticamente ao meio da tela mesmo em dimensões diferentes "melhor maneira de centralizar" dai ele abre os atributos top, left, bottom, e etc. */
  background-size: cover; /* cover = cobrir / ajusta a proporção da imagem (pra que fique certo na tela) */
  background-image: url(../assets/images/bg-home.jpg);
  height: 100vh; /* viewport height = tamanho da tela (como se fosse porcentagem) */
  /* background-attachment: fixed; */ /* fixa a imagem na tela */
}

.home .header {
  padding: 30px ;
}

.home .header .nav {
  display: flex;
  justify-content: center;
}

.home .header .nav ul {
  display: flex;
  list-style: none;
}

.home .header .nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.home .header .nav ul li a {
  color: white;
  text-transform: uppercase; /* letra maiúscula */
  text-decoration: none; /*  remove o underline do link */
  font-weight: bold; /* negrito */
  font-size: 12px;
  padding: 20px;
}

.home .header .nav ul li a:hover {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);  
}

.home .header /* .nav ul li */ .logo {
  margin: 0 30px;
}

/* ***************
*   HOME - BANNER
******************/
.home .banner  {
  position: absolute; /* para centralizar essas classes, você precisa dinifir position: relative; para o pai da div que vc quer centralizar ao meio da página.(porque eu quero centralizar ele na Section)*/
  top: 50%;
  left: 50%;
  height: 270px;
  width: 770px;
  margin-top: -75px;
  margin-left: -385px; /* é a metade do valor do width pra centralizar na tela conforme o position */
  color: white;
  text-align: center;
}

.home .banner span {
  display: block;
}

.home .banner .slogan1 {
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}

.home .banner h1 {
  font-size: 120px;
}

.home .banner .slogan2 {
  margin-bottom: 15px;
}


/* ***************
*      ABOUT
******************/
.about {
  background-color: var(--color-primary);
}

.about .container {
  display: flex;
}

.about .timing {
  width: 33%;
  padding: 20px;
  background-image: url(../images/brush-big.jpg);
  position: relative;
  top: -50px;
}

.about .timing .overley {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px 20px;
}

.about .timing .icon-cut {
  width: 50px;
}

.about .timing h3 {
  color: var(--color-primary);
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-primary);
  width: fit-content; /* faz com que o tamanho do h3 seja igual ao tamanho do conteúdo (tamanho todo do h3) */
  margin: 30px auto;
  font-size: 30px;
}

.about .timing .text {
  margin: 10px 0;
}

.about .timing .text:after { /* :afeter = depois */
  content: '•';
  color: white;
  font-size: 15px;
  display: block;
  margin-top: 10px;
}

.about .timing .text:last-of-type:after { /* last-of-type = subescreve o último item */
  content: "|";
}

.about .timing .text h4 {
  color: grey;
  font-weight: 400;
  font-size: 13px;
}

.about .timing span {
  color: white;
  font-size: 13px;
  display: block;
}

.about .experience {
  width: 66%;
  color: white;
  margin-left: 7%;
  margin-top: 100px;
}

.about .experience h2 {
  font-weight: 400;
  font-size: 40px;
}

.about .experience h2:after {
  display: block;
  content: '';
  width: 100px;
  height: 3px;
  background-color: #a38f78;
  margin: 20px 0;
}

.about .experience .text {
  display: flex;
  justify-content: space-between;
}

.about .experience .text p {
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 17px;
}


/* ***************
*      SERVICES
******************/
.services {
  padding: 100px 0;
  text-align: center;
  background-color: var(--color-primary-light);
}

.services h2 {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
}

.services .boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.services .box {
  border: 3px solid var(--color-primary);
  padding: 50px 40px;
  margin: 30px;
}

.services .box h4 {
  color: var(--color-secondary);
  margin-top: 30px;
}

.services .box p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 30px;
}

/* ***************
*   APPOINTMENT
******************/
.appointment {
  padding: 100px 0;
  background-color: var(--color-primary);
  height: 100vh;
  background-image: url(/assets/images/chair-ic.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 300px;
}

.appointment h2 {
  color: var(--color-primary-light);
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}
.appointment form {
  margin-top: 80px;
}

.appointment .personal-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.appointment img {
  margin: 0 auto;
  display: block;
}

input, select, option {
  background-color: rgba(51, 51, 51, 0.15);
  box-shadow: 3px 2px 5px rgba(17, 17, 17, 0.55);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
  height: 35px;
}

::placeholder {
  color: var(--color-secondary);
}

.appointment .input-wrapper {
  width: 100%;
  margin-right: 50px;
}

.appointment .input-wrapper:last-of-type { /* último tipo do input com margin removido */
  margin-right: 0;
}

.appointment label {
  display: block;
  margin-bottom: 2px;
  color: var(--color-primary-light);
}

.appointment .personal-data input,
.appointment .personal-data select,
.appointment textarea {
  padding: 5px 10px;
  outline: none; /* remove a borda azul da caixa do input */
  border: none; /* remove a borda sutil do input */
  width: 100%;
  border-radius: 3px;
  background-image: blur;
}

.appointment textarea {
  background-color: rgba(51, 51, 51, 0.15);
  box-shadow: 3px 2px 5px rgba(17, 17, 17, 0.55);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
  height: 100px;
}

.appointment button {
  background-color: var(--color-secondary);
  color: white;
  padding: 15px 40px;
  font-weight: bold;
  border: none;
  margin-top: 10px;
  text-transform: uppercase;
  box-shadow: 3px 2px 5px rgba(17, 17, 17, 0.55);
}

/* ***************
*   GALLERY
******************/
.gallery {
  padding: 100px 0;
  background-color: var(--color-primary-light);
}

.gallery h2 {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.gallery img {
  margin: 0 auto;
  display: block;
}

.gallery .gallery-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 800px;
  height: 100vh;
  margin: 50px auto;
}

.gallery .gallery-wrapper div {
  border: 10px solid var(--color-primary);
  margin: 6px;
  width: 33%;
}

.gallery .gallery-wrapper div img {
  width: 100%;
}

/* ***************
*   LOCATION
******************/
.location {
  padding: 100px 0;
  background-image: url(../assets/images/bg-location.jpg);
  background-size: cover; /* coloca a imagem na área toda */
  /* background-attachment: fixed; */
}

.location .head {
  display: flex;
  justify-content: space-between;
  background-color: #191919;
  padding: 40px;
  width: 100%;
}

.location .head .info {
  display: flex;
  align-items: center;
}

.location .head .info .icon {
  display: flex; /* flexibilza a borda */
  align-items: center; /* centralizou os itens da borda */
  justify-content: center;
  border: 1px solid var(--color-primary);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-right: 15px;
}

.location .head .info .text span {
  display: block;
  font-size: 13px;
}

.location .head .info .text span:first-child {
  color: silver;
}

.location .head .info .text span:last-child {
  color: white;
}

.location .map {
  width: 100%;
}

.location .map iframe {
  width: 100%;
}

/* ***************
*     FOOTER
******************/
.footer {
  background-color: #191919;
  color: white;
  padding: 40px;
  text-align: center;
  font-size: 12px;
}